{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Add Advertisement</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Brand -->
        <div class="row mb-3">
            <label class="col-lg-2 col-form-label">Brand</label>
            <div class="col-lg-10">
                {{ form.brand }}
            </div>
        </div>

        <!-- Contact Name -->
        <div class="row mb-3">
            <label class="col-lg-2 col-form-label">Contact Name</label>
            <div class="col-lg-10">
                {{ form.contact_name }}
            </div>
        </div>

        <!-- Description -->
        <div class="row mb-3">
            <label class="col-lg-2 col-form-label">Description</label>
            <div class="col-lg-10">
                {{ form.description }}
            </div>
        </div>

        <!-- Image -->
        <div class="row mb-3">
            <label class="col-lg-2 col-form-label">Image</label>
            <div class="col-lg-10">
                {{ form.image }}
            </div>
        </div>

        <!-- Submit Button -->
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <button type="submit" class="btn btn-primary">Add Advertisement</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
