{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{ ad.brand }}</h1>

    <!-- Contact Name -->
    <p><strong>Contact Name:</strong> {{ ad.contact_name }}</p>

    <!-- Description -->
    <p><strong>Description:</strong> {{ ad.description }}</p>

    <!-- Image -->
    {% if ad.image %}
    <div>
        <img src="{{ ad.image.url }}" alt="{{ ad.brand }}" class="img-fluid" />
    </div>
    {% endif %}

    <!-- Created By -->
    <p><strong>Created By:</strong> {{ ad.created_by }}</p>
</div>
{% endblock %}
